* {
  margin: 0;
  box-sizing: border-box;
}

.chat {
  margin-top: 200px;
  border-radius: 0.9rem;
  max-width: 25rem;
  height: 30rem;
  overflow: scroll;
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
}

.currentUser {
  background: skyblue;
  margin-top: 1.25rem;
  border-radius: 0.9rem;
  align-self: flex-end;
}

.otherUser {
  background: slategrey;
  margin-top: 1.25rem;
  border-radius: 0.9rem;
  display: flex;
}

.userAvatar {
  display: flex;
  align-items: center;
}

.userInfo {
  text-align: center;
  display: flex;
  align-items: center;
}

.colorMessage {
  color: azure;
}
.colorDate {
  color: darkcyan;
}
.colorDate2 {
  color: darkblue;
}

article {
  max-width: 15.5rem;
  padding: 0.6rem;
}

img {
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 20%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.6rem;
}
input,
textarea {
  width: 25rem;
  padding: 0.6rem;
  margin-top: 0.6rem;
}
label {
  width: 20rem;
  display: flex;
  align-items: center;
  margin: 0.6rem;
}
