:root {
  height: 100vh;
  padding: 10%;
  background: lightgray;
  text-align: center;
}

.image {
  opacity: 0.3;
  height: 300px;
  padding: 10px;
}

.allImage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
